extends layout

block content
    div(id="alert-placeholder") 
    div(class="container col-lg-6 ms-auto me-auto")
        div(class="row")
            p(class="fs-5")
                b Your Account
        div(class="row")
            span(class="border-top border-end border-bottom border-start rounded-top p-4")
                p(class="m-0") 
                    b Name
                p(id="user-name" class="m-0")
        div(class="row")
            span(class="border-end border-bottom border-start p-4")
                p(class="m-0")
                    b Age 
                p(id="user-age" class="m-0")
        div(class="row")
            span(class="border-end border-bottom border-start p-4")
                p(class="m-0") 
                    b City 
                p(id="user-city" class="m-0")
        div(class="row")
            span(class="border-end border-bottom border-start p-4")
                p(class="m-0")
                    b Phone 
                p(id="user-phone" class="m-0")
        div(class="row")
            span(class="border-end border-bottom border-start rounded-bottom p-4")
                p(class="m-0")
                    b Email 
                p(id="user-email" class="m-0")