extends layout

block content
    div(class="container")
        div(class="row")
            p 
                b Name
            p #{user_name}
        div(class="row")
            p
                b Age 
            p #{user_age}